ICSF9TCT/ICSF9TCT/App_Data/**
ICSF9TCT/ICSF9TCT/App_Start/**
ICSF9TCT/ICSF9TCT/bin/**
ICSF9TCT/ICSF9TCT/Content/**
ICSF9TCT/Docs/**
ICSF9TCT/packages/**
ICSF9TCT/ICSF9TCT/fonts/**
ICSF9TCT/ICSF9TCT/obj/**
ICSF9TCT/ICSF9TCT/Properties/**
ICSF9TCT/ICSF9TCT/favicon.ico
ICSF9TCT/ICSF9TCT/Global.asax
ICSF9TCT/ICSF9TCT/Global.asax.cs
ICSF9TCT/ICSF9TCT/Project_Readme.html
ICSF9TCT/ICSF9TCT/ReadMe.txt
ICSF9TCT/ICSF9TCT/Startup.cs
ICSF9TCT/ICSF9TCT/favicon.ico
Release Build/**
